// COLORS
$primary-color: #00fff7;
$secondary-color: #0077ff;

$white-color: #ffffff;

$dark-grey: #272727;
$light-grey: #ffffff;

$dark-blue-text: #190d81; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 4.5rem;
$mid-font-size: 2.5rem;
